html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/**************************************************************
    Helper styles like Google Fonts and Bootstrap overrides
***************************************************************/

.bungee-title {
    font-family: 'Bungee Shade', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-logo {
    font-family: 'Bungee', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

/***************************************************************
   More Bootstrap overrides
****************************************************************/
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/***************************************************************
   Validation Summary Styles
****************************************************************/
.validation-summary-errors ul {
    list-style: none;
    padding-left: 0;
}

.validation-summary-errors li {
    color: red;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}
/***************************************************************
    Options Styles
****************************************************************/
.option-group {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.option-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    background-color: white;
}

    .option-btn.selected {
        background-color: #7ABF2F;
        color: white;
        border-color: #4F7F1A;
    }

    .option-btn[data-value="10"].selected {
        background-color: #7a7d7d;
        color: white;
    }

    .option-btn[data-value="15"].selected {
        background-color: #4b8f2f;
        color: white;
    }

    .option-btn[data-value="20"].selected {
        background-color: orangered;
        color: white;
    }

.difficulty-btn {
    padding: 8px 18px;
    border-radius: 6px;
    border: 1px solid #444;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    background-color: #E6E6E6;
    transition: 0.2s;
}
    /* EASY */
    .difficulty-btn[data-value="Easy"].selected {
        background-color: #7a7d7d;
        color: white;
    }

    /* NORMAL */
    .difficulty-btn[data-value="Normal"].selected {
        background-color: #4b8f2f;
        color: white;
    }

    /* HARD */
    .difficulty-btn[data-value="Hard"].selected {
        background-color: orangered;
        color: white;
    }


.play-btn {
    width: 220px;
    margin-top: 2.5rem;
    font-size: 1.25rem;
    padding: 12px;
}